body {
  background-color: maroon;
  text-align: center;
  font-family: sans-serif;
  color: white;
}

p {
  font-weight: bold;
}

.btn {
  width: 90px;
  height: 90px;
  border-radius: 4px;
  background-color: white;
  border: 2px solid black;
  margin: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn:active {
  opacity: .6;
}

.rock-btn {
  background-image: url("images/rock.png");
}

.paper-btn {
  background-image: url("images/paper.png");
}

.scissors-btn {
  background-image: url("images/scissors.png");
}
